*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
/* styling for hesder */
.header-first-child{
    background-color: #2651FF;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 1rem;
    align-content: center;
}
.header-date p{
    font-size: 0.8rem;
    padding-left: 1rem;
}
.header-icons i{
    margin: 0 0.5rem;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid lightgray;
    box-shadow:0 0 7px lightgray;
}
.logo{
    width: 7%;
 
}
.links{
   width: 76%;
   font-size: 15px;
   font-weight: bold;
}
.nav-links{
    display: flex;
    list-style: none;
    color: #2651FF;

   
}
.nav-links li{
    margin: 0 0.5rem;
   
}
.nav-links li a{
    text-transform: uppercase;
}

.search-icon{
    width: 7%;
}
.last-nav-link{
    display: flex;
    list-style: none;
    color:rgb(113,113,113);
    justify-content: center;
    height: 50px;
    border-bottom: 1px solid lightgray;
    box-shadow:0 0 8px lightgray;
    align-items: center;
    
    
}
.last-nav-link li a{
    text-decoration: none;
    margin: 0 0.7rem;
    font-family: sans-serif;
    font-style: italic;
}
.dropdown-content{
    display: flex;
    justify-content: flex-start;
    text-align: center;

}
.landing-page{
    display: flex;
    gap: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    
}
.landing-page-one{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.first-landingpage{
    display: flex;
    flex-direction: column;
    background-image: url(CBN-Orders-Banks-To-Accept-And-Dispense-Old-500-1000-Naira-Notes-218x150.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 30vh;
    color: #fff;
    padding: 0.5rem;
    justify-content: end;
    gap: 0.8rem;
    width: 20vw;
    font-weight: bold;

}
.first-landingpage h5{
    background: #000000aa;
    width: 22%;
    
}
.sec-landingpage{
    display: flex;
    flex-direction: column;
    background-image: url(Fire-guts-Lagos-spare-parts-market-security-guard-killed-218x150.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80vw;
    justify-content: end;
    gap: 0.7rem;
    padding: 1rem;
    color: #fff;
    }
    .sec-landingpage h4{
        background-color: #000000aa;
        width: 8.5%;
    }
    .sec-landingpage p{
        font-weight: bold;
        font-size: 3.2rem;
    }
    .secondlanding-page{
        display: flex;
        background-color:rgb(251, 212, 212);
        width: 80vw;
        height: 18vh;
        margin: 5rem 7.6rem;
        padding: 1.5rem;
        justify-content: space-around;
    }
    .sp{
        display: flex;
        padding-left: 3rem;

    }
    .sp p{
        text-align: center;
        font-weight: bold;
        padding-left: 1rem;
        padding-right: 0rem;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        font-size: 0.9rem;
    }
    #spp{
        padding-left: 0rem;
    }
    .thirdlanding-page{
        display: flex;
    }
    .ftlp{
        display: flex;
        flex-direction: column;
        background-color: #2651FF;
    }
    .sltp{

    }

    .ttlp{
        
    }
    .ltlp{

    }